Consider two sets as set1 and set2 such as {x1, x2, x3, x4,x5, x6} provided x is an integer. Print all the identical elements from the two sets.

set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 9, 4, 8, 7, 6}

output={3, 4, 6}

In [14]:
def unique_numbers(set1,set2):
  x={x for x in set1 if x in set2}
  print(x)

In [15]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}

unique_numbers(set1,set2)

{4, 5}

In [16]:
set1 = {11, 12, 31, 41, 15, 16}
set2 = {31, 19, 41, 81, 17, 61}

unique_numbers(set1,set2)

{41, 31}