# Join multiple tuples

Consider three tuples as tuple1, tuple2 and tuple3. Print all the elements of tuple1, tuple2 and tuple3 in a single tuple.

In [5]:
def add(tuple1,tuple2,tuple3):
  tuple4=tuple1+tuple2+tuple3
  print(tuple4)

In [6]:
tuple1 = (1,2,3)
tuple2 = ("r9","m10","b23")
tuple3 = (17,23,9)

In [7]:
add(tuple1,tuple2,tuple3)

(1, 2, 3, 'r9', 'm10', 'b23', 17, 23, 9)